<div class="container">
    
    <app-chat></app-chat>

    <section class="game">
        <h1>Ahorcado</h1>
        <div class="content">

            @if (!word) {
                <div class="play-button">
                    <button mat-icon-button (click)="getRandomWord()" [disabled]="loading">
                        <mat-icon>play_arrow</mat-icon>
                    </button>
                </div>
            }
            @else {
                <div class="close-button">
                    <button mat-icon-button (click)="endGame()" [disabled]="loading">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>

                <div class="image">
                    <img src="ahorcado/{{imageCounter}}.png" height="370px">
                </div>

                <div class="word">
                    @for(letter of word; track $index) {
                        @if(keysPressed.includes(letter)) {
                            <p>{{ letter }}</p>
                        } @else {
                            <p></p>
                        } 
                    }
                </div>
    
                <div class="keyboard">
                    @for(row of keyboard; track $index) {
                        <div class="keyboard-row">
                            @for(key of row; track $index) {
                                <button class="keyboard-button" 
                                (click)="handleKeyPress(key)"
                                [disabled]="keysPressed.includes(key) || gameOver"
                                > {{ key }} </button>
                            }
                        </div>
                    }
                </div>
                
                <div class="gameOver">
                    @if (gameOver) {
                        <div  class="message">
                            <p>{{ message }}</p>
                        </div>
                        <div class="reset-button">
                            <button mat-icon-button (click)="resetGame()" [disabled]="loading">
                                <mat-icon>restart_alt</mat-icon>
                            </button>
                        </div>
                    }
                </div>
            }
        </div>
    </section>
</div>
