<section class="quiensoy">
    <mat-card class="quiensoy-card" appearance="outlined">
        <mat-card-header class="title">
            <mat-card-title><h3>¿Quien soy?</h3></mat-card-title>
        </mat-card-header>

        <div  class="image">
            <img mat-card-image
            src="https://media.licdn.com/dms/image/v2/D4D03AQFUTlipWhnb3g/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1701721323076?e=1731542400&v=beta&t=GSVQnvjp868mX-9xpo1q_OgJ4qPLzdHBQ2Q5ItanhCY"
            height="200px"
            width="200px"
            alt="foto personal">
        </div>

        <mat-card-content class="descripcion">
            <p>
                Mi nombre es <strong>Mateo Spatola</strong>, tengo 22 años y soy de Buenos Aires, Argentina.<br><br>
                Actualmente me encuentro realizando la tecnicatura universitaria en programación en la Universidad 
                Tecnológica Nacional, Facultad Regional de Avellaneda (UTN FRA).
            </p>
            <p>
                Juego propio:<br>
                <strong>Reflex</strong> es un juego de habilidad que pone a prueba tu precisión y velocidad de reacción.
                El objetivo es hacer clic en los círculos que aparecen en pantalla, los cuales irán reduciendo su tamaño
                gradualmente hasta desaparecer. La meta es alcanzar la mayor puntuación posible dentro del tiempo límite.
                ¡Mejora tu puntería y compite contra ti mismo en este emocionante reto visual!
            </p>
        </mat-card-content>

        <mat-card-actions class="buttons">
            <div class="linkedin-button">
                <button mat-raised-button>
                    <a href="https://www.linkedin.com/in/mateospatola/" target="_blank" rel="noopener noreferrer">
                        LinkedIn
                    </a>
                </button>
            </div>
            <div class="github-button">
                <button mat-raised-button>
                    <a href="https://github.com/MateoSpatola" target="_blank" rel="noopener noreferrer">
                        GitHub
                    </a>
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</section>