<header>
    <mat-toolbar color="primary">
        <a routerLink="/home" class="logo">
            <img src="favicon.ico" alt="Logo">
        </a>
        <span class="spacer"></span>
        <button mat-button routerLink="/quiensoy">¿Quien soy?</button>
        @if (!isLoggedIn) {
            <button mat-button routerLink="/login">Ingresar</button>
            <button mat-button routerLink="/signup">Registrarse</button>
        } @else {
            <button mat-button [matMenuTriggerFor]="menu">
                <span>{{user?.displayName}}</span>
                <mat-icon>person</mat-icon>
            </button>
            
            <mat-menu #menu="matMenu" class="menu">

                <div class="user-info">
                    <mat-icon>account_circle</mat-icon>
                    <div class="user-details">
                        <div class="user-name">{{user?.displayName}}</div>
                        <div class="user-email">{{user?.email}}</div>
                    </div>
                </div>
            
                <mat-divider></mat-divider>
                
                <button mat-menu-item (click)="signOut()">
                    <mat-icon>logout</mat-icon>
                    <span>Cerrar sesión</span>
                </button>
            </mat-menu>
        }
    </mat-toolbar>
    <div class="separator"></div>
</header>
