.forgot-password {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.form-forgot-password {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
}

h3 {
    text-align: center;
}

.detalle {
    text-align: center;
    color: #9b9b9b;
}

.email-input mat-form-field {
    width: 100%;
    max-width: 400px;
    margin-top: 1.5rem;
}

.forgot-password-button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.forgot-password-button button {
    width: 100%;
    max-width: 300px;
    height: 3.5rem;
    font-size: 1.2rem;
    background-color: black;
    color: white;
}

.forgot-password-button button:hover {
    background-color: rgba(0, 0, 0, 0.85);
}

