<section class="forgot-password">
    <div class="form-forgot-password">
        <h3>Restablecer contraseña</h3>
        <form method="">

            <div class="detalle">
                <span>Te enviaremos un mail para que puedas restablecer tu constraseña</span>
            </div>
            
            <!-- Correo -->
            <div class="email-input">
                <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
                    <mat-icon matPrefix>email</mat-icon>
                    <mat-label>Correo</mat-label>
                    <input matInput type="email" [formControl]="form.controls.email" placeholder="Ingrese su correo">
                    @if (form.controls.email.hasError('email')) {
                        <mat-error >Ingrese un correo valido</mat-error>
                    }
                    @if (form.controls.email.hasError('required')) {
                        <mat-error>El correo es <strong>requerido</strong></mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="forgot-password-button">
                <button mat-fab extended type="submit">
                    <mat-icon>arrow_forward</mat-icon>
                    Enviar
                </button>
            </div>
        
        </form>
    </div>
</section>