<div class="container">
    
    <app-chat></app-chat>
    
    <section class="home">
        <h3>Juegos</h3>
        <div class="games">
            <mat-card class="game" [routerLink]="isLoggedIn ? '/ahorcado' : null">
                <mat-card-header [class.locked]="!isLoggedIn">
                    <mat-card-title><h3>Ahorcado</h3></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div [class.locked]="!isLoggedIn">
                        <img src="ahorcado.png" alt="ahorcado" height="100px">
                    </div>
                    <div class="lock-message">
                        @if (!isLoggedIn) {
                            <mat-icon>lock</mat-icon>
                            <p>Inicia sesión para desbloquear este contenido.</p>
                        }
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="game" [routerLink]="isLoggedIn ? '/mayor-menor' : null">
                <mat-card-header [class.locked]="!isLoggedIn">
                    <mat-card-title><h3>¿Mayor o Menor?</h3></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div [class.locked]="!isLoggedIn">
                        <img src="mayor-menor.png" alt="mayor-menor" height="100px">
                    </div>
                    <div class="lock-message">
                        @if (!isLoggedIn) {
                            <mat-icon>lock</mat-icon>
                            <p>Inicia sesión para desbloquear este contenido.</p>
                        }
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="game" [routerLink]="isLoggedIn ? '/preguntados' : null">
                <mat-card-header [class.locked]="!isLoggedIn">
                    <mat-card-title><h3>Preguntados</h3></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div [class.locked]="!isLoggedIn">
                        <img src="preguntados.png" alt="preguntados" height="100px">
                    </div>
                    <div class="lock-message">
                        @if (!isLoggedIn) {
                            <mat-icon>lock</mat-icon>
                            <p>Inicia sesión para desbloquear este contenido.</p>
                        }
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="game" [routerLink]="isLoggedIn ? '/reflex' : null">
                <mat-card-header [class.locked]="!isLoggedIn">
                    <mat-card-title><h3>Reflex</h3></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div [class.locked]="!isLoggedIn">
                        <img src="reflex.png" alt="reflex" height="100px">
                    </div>
                    <div class="lock-message">
                        @if (!isLoggedIn) {
                            <mat-icon>lock</mat-icon>
                            <p>Inicia sesión para desbloquear este contenido.</p>
                        }
                    </div>
                </mat-card-content>
            </mat-card>

        </div>
    </section>
</div>