/* footer.component.css */
footer {
    width: 100%;
    background: #000;
    color: #fff;
    text-align: center;
}

.footer-content {
    padding: 12px;
}

.separator {
    height: 3px;
    background: #00b9f1;
}
